# IntelliJ
out/
.idea
*.iml
*.ipr

### Gradle template
.gradle
**/build/
!src/**/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
gradle/wrapper/gradle-wrapper.properties

### Kotlin template
# Compiled class file
*.class

# Log file
*.log

___zips

.DS_Store